* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.flex {
    display: flex;
}

#lado-esquerdo {
    width: 15%;
    height: 100vh;
    border-right: 1px solid black;
}

#lado-direito {
    width: 85%;
    height: 100vh;
}

.flex a {
    justify-content: flex-start;   
}

div#lado-esquerdo ul {
    width: 100%;
}

div#lado-esquerdo ul li {
    width: 100%;
    height: auto;
    margin: 4px 0;
    padding: 7px 0; 
    list-style: none;
}

div#lado-esquerdo ul li:hover {
    width: 100%;
    height: auto;
    margin: 4px 0;
    padding: 7px 0; 
    transition: 1s;
    background-color: rgb(151, 241, 232);
    list-style: none;
}

a {  
    width: 100%;
    height: 20px;
    display: block;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
}

span {
    padding-right: 5px;
    padding-left: 5px;
}

div#lado-direito #forms {
    width: 50%;
    height: auto;
    margin: 100px auto;
}

form{
    width: 100%;
    height: auto;
    border: 1px solid black;
    padding: 10px;
}


#cli{
    width: 50%;
    border: 1px solid red;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration:underline;
}
.cliente_label{
    margin-top: 1.5rem;
    border: 1px solid black;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
.cliente_input{
    width: 100%;
    height: 50px;
    margin: 2px auto 2px auto;
    padding: 7px;
    font-size: 1.3rem;
    border-radius: 7px;
    border: 1px solid red;  
}

#data_cadastro{
    margin-bottom: 10px;
}


.btn_cliente_listar{
    width: 15%;
    height: 30px;
    margin: 5px auto 5px auto;
    border-radius: 7px;
    font-size: 1rem;
    cursor: pointer;
    background-color:blueviolet;
    color: white; 
}

#cliente_novo{
    width: 25%;
    height: 30px;
    margin-left: 14%;
    border-radius: 7px;
    font-size: 1rem;
    cursor: pointer;
    background-color: rgb(20, 83, 201);
    color: white;
}
#cliente_salvar{
    width: 25%;
    height: 30px;
    margin: 5px auto 5px auto;
    border-radius: 7px;
    font-size: 1rem;
    cursor: pointer;
    background-color: green;
    color: white;
}