* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.flex {
    display: flex;
}

.column{
    flex-direction: column;
}

#lado-esquerdo {
    width: 15%;
    height: 100vh;
    border-right: 1px solid black;
}

#lado-direito {
    width: 85%;
    height: 100vh;
}

.flex a {
    justify-content: flex-start;   
}

div#lado-esquerdo ul {
    width: 100%;
}

div#lado-esquerdo ul li {
    width: 100%;
    height: auto;
    margin: 4px 0;
    padding: 7px 0; 
    list-style: none;
}

div#lado-esquerdo ul li:hover {
    width: 100%;
    height: auto;
    margin: 4px 0;
    padding: 7px 0; 
    transition: 1s;
    background-color: rgb(151, 241, 232);
    list-style: none;
}

a {  
    width: 100%;
    height: 20px;
    display: block;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
}

span {
    padding-right: 5px;
    padding-left: 5px;
}

div#lado-direito {
    width: 100%;
    height: 100vh;
}

form{
    width: 40%;
    height: auto;
    margin: 100px auto;
    background-color: aquamarine;
    border: 1px solid rgb(109, 75, 75);
    padding: 10px;
    
}

fieldset{
    position: relative;
}

#cliente_titulo{
    width: 50%;
    border: 1px solid red;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration:underline;
}

#btn_fechar{
    color: red;
    padding: .3rem .6rem;
    font-size: 1rem;
    cursor: pointer;
    position: absolute;
    margin-left: 85%;
    border: 1px solid black;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items:center; */
    /* width: 50px; */
    /* height: 20px; */
}

.subtitulo_label{
    margin-top: 1.5rem;
    border: 1px solid black;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.cliente_input{
    width: 100%;
    height: 40px;
    margin: 2px auto 2px auto;
    padding: 7px;
    font-size: 1.3rem;
    border-radius: 7px;
    border: 1px solid red;  
}

#data_cadastro{
    margin-bottom: 10px;
}

.btn_cliente_listar{
    width: 15%;
    height: 30px;
    margin: 5px auto 5px auto;
    border-radius: 7px;
    font-size: 1rem;
    cursor: pointer;
    background-color:blueviolet;
    color: white; 
}

#cliente_novo{
    width: 25%;
    height: 30px;
    margin-left: 14%;
    border-radius: 7px;
    font-size: 1rem;
    cursor: pointer;
    background-color: rgb(20, 83, 201);
    color: white;
}

#cliente_salvar{
    width: 25%;
    height: 30px;
    margin: 5px auto 5px auto;
    border-radius: 7px;
    font-size: 1rem;
    cursor: pointer;
    background-color: green;
    color: white;
}





#produto_titulo{
    width: 50%;
    border: 1px solid red;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration:underline;
}

.produto_input{
    width: 100%;
    height: 40px;
    margin: 2px auto 2px auto;
    padding: 7px;
    font-size: 1.3rem;
    border-radius: 7px;
    border: 1px solid red;  
}

#produto_novo{
    width: 25%;
    height: 30px;
    margin-left: 14%;
    border-radius: 7px;
    font-size: 1rem;
    cursor: pointer;
    background-color: rgb(20, 83, 201);
    color: white;
}

#produto_salvar{
    width: 25%;
    height: 30px;
    margin: 5px auto 5px auto;
    border-radius: 7px;
    font-size: 1rem;
    cursor: pointer;
    background-color: green;
    color: white;
}





#pedido_titulo{
    width: 50%;
    border: 1px solid red;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration:underline;
}

.pedido_input{
    width: 100%;
    height: 40px;
    margin: 2px auto 2px auto;
    padding: 7px;
    font-size: 1.3rem;
    border-radius: 7px;
    border: 1px solid red;  
}

#pedido_cliente{
    width: 60%; 
    display: flex;
    border: 3px solid yellow;
}

#localizar_produto_div{
    margin-top: 10px;
    border-top: 2px solid blue;
    border-bottom: 2px solid blue;
    background-color: rgb(223, 217, 217);
}

#localizar_produto_label{
    margin-top: 5px;
}

section{
    justify-content: space-between;
}

.pedido_input_primeiro{
    width: 10%;
    cursor: pointer;
    border: 1px solid black;
    margin-bottom: 5px;
}

.pedido_input_segundo{
    width: 30%;
    cursor: pointer;
    border: 1px solid black;
    background-color: rgb(219, 226, 226);
    margin-bottom: 5px;
}

.pedido_input_terceiro{
    width: 10%;
    cursor: pointer;
    border: 1px solid black;
    background-color: rgb(219, 226, 226);
    margin-bottom: 5px;
}

.pedido_input_quarto{
    width: 10%;
    cursor: pointer;
    border: 1px solid black;
    margin-bottom: 5px;
}

#lancar_pedido{
    cursor: pointer;
    border: 1px solid black;
    background-color: rgb(219, 226, 226);
    margin-bottom: 5px;
}

#itens_do_pedido{
    margin-top: 5px;
}

.ultima_parte{
    border: 1px solid red;
}

.item{
    margin-top: 5px;
}



#testando{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    border: 1px solid blue;
    /* width: 20%;
    border: 1px solid blue;
    position:relative;
    margin-left: 60%; */
}
.teste{
    width: 30%;
}
